@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e8f0;
    padding: 1rem;
}

main {
    display: flex;
    flex: 1;
    overflow-y: scroll;
}

.bottom-navigation {
    @apply flex items-center justify-between bg-gray-100 p-4;
}